node_modules/
test/
preview/
docs/
dist-docs/
unpackage/
bash/
src/styles/common/ionicons/fonts

uni.scss
pages.json
manifest.json
main.js
App.vue
tsconfig.json
.eslintrc.js
.prettierrc.js
