// color
$p-color-green: #19be6b;
$p-color-yellow: #ff9900;
$p-color-red: #ed4014;
$p-color-bull: #2d8cf0;
$p-color-white: #ffffff;
$p-color-black: #000000;
$p-color-default: #f8f8f9;
$p-color-content: #515a6e;
$p-color-primary: $p-color-bull;

// font-size
$p-font-size-sm: 28rpx;
$p-font-size-base: 32rpx;
$p-font-size-lg: 36rpx;

$p-shadow-1: 6rpx 6rpx 8rpx rgba(0, 0, 0, 0.2);
$p-shadow-2: 0 0 10rpx rgba(0, 0, 0, 0.1);
$p-border-radius: 10rpx;
