.p-btn {
    @extend .p-shadow-1;
    @extend .p-border-radius;

    padding: 14rpx 28rpx;
    height: inherit;
    line-height: inherit;
    font-size: initial;
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
    width: max-content;
    min-width: 140rpx;

    &::after {
        border: none;
    }

    &:active {
        transform: translate(1rpx, 1rpx);
    }

    &.long {
        width: 100%;
        display: block;
    }

    &.disabled {
        @extend .p-bg-default;

        color: #aeb0b7;
        cursor: not-allowed;
    }
}
