.p-input {
    @extend .p-color-content;

    position: relative;
    border: none;
    border-bottom: 4upx solid $p-color-primary;
    padding: 18upx;
    margin: 20upx;
    outline: none;
    transition: all 0.5s;

    &:before {
        content: '';
        width: 0;
        height: 100%;
        background: rgba(45, 140, 240, 0.1);
        display: block;
        position: absolute;
        top: 0;
    }

    &:focus {
        &:before {
            width: 100%;
        }
        // box-shadow: 3px 3px 4px 0px #ccc;
    }
}
