.p-input-wrapper {
    position: relative;
    height: inherit;
    border-style: solid;
    border-width: 0 0 4rpx 0;
    padding: 18rpx;
    margin: 20rpx;
    transition: all 0.5s;
    display: flex;
    align-items: center;

    > .left {
        margin-right: 20rpx;
    }

    > .right {
        margin-left: 20rpx;
    }
}

.p-input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    color: inherit;
    font-size: inherit;

    &:before {
        content: '';
        width: 0;
        height: 100%;
        background: rgba(45, 140, 240, 0.1);
        display: block;
        position: absolute;
        top: 0;
    }

    &:focus {
        &:before {
            width: 100%;
        }
        // box-shadow: 3px 3px 4px 0px #ccc;
    }
}
