.p-label {
    @extend .p-color-content;

    display: inline-block;
    height: 84rpx;
    line-height: 84rpx;
    float: left;
    vertical-align: top;
    width: 140rpx;
    text-align: center;
    font-size: 32rpx;
}
