.p-modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(55, 55, 55, 0.6);
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.5s;

    &.show {
        opacity: 1;
        transform: scale(1);
        // overflow-x: hidden;
        // overflow-y: auto;
        pointer-events: auto;
    }
}

.p-modal-body {
    @extend .p-card-lg;
    @extend .p-bg-default;

    font-weight: inherit;
    min-width: 540rpx;
    padding: 0;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    > .header,
    > .content {
        margin: 40rpx 0;
        padding: 0 32rpx;
    }

    > .header,
    > .content,
    > .footer {
        text-align: center;
    }

    > .header {
        font-weight: bold;
    }

    > .footer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20rpx;

        .ok,
        .cancel {
            height: 80rpx;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
}
