.p-nav-wrapper {
    position: relative;

    .p-nav {
        font-size: $p-font-size-base;
        // z-index: 9;
        height: inherit;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        .p-nav-body {
            height: inherit;

            .left,
            .right {
                display: flex;
            }

            .left {
                @include nav-black-common(60rpx);

                right: auto;
                left: 30rpx;

                .p-icon {
                    margin-right: 20rpx;
                }
            }

            .content {
                @include nav-black-common(60rpx);
            }

            .right {
                @include nav-black-common(60rpx);

                left: auto;
                right: 30rpx;

                .p-icon {
                    margin-left: 20rpx;
                }
            }
        }
    }
}
