.p-nav {
    font-size: $p-font-size-base;
    position: relative;

    .p-nav-body {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        width: 100%;
    }

    .content {
        @include nav-black-common(60upx);
    }

    .back {
        @include nav-black-common(60upx);

        display: flex;
        right: auto;
        left: 30upx;
        cursor: pointer;

        .ion-ios-arrow-back {
            font-size: inherit;
            margin-right: 10px;
        }
    }

    .right {
        @include nav-black-common(60upx);
    }
}
