.p-switch-wrapper {
    display: inline-block;
    position: relative;

    .p-switch {
        .uni-switch-input,
        .wx-switch-input,
        .my-switch-input,
        .qq-switch-input {
            padding: 0 48upx;
            width: 96upx;
            height: 52upx;
            border: none;
            margin: 0;

            &::before,
            &::after {
                border-radius: inherit;
                height: inherit;
            }

            &::before {
                background: #515a6e !important;
            }

            &::after {
                /* #ifdef MP-QQ */
                margin: -13px -5px;
                /*  #endif */

                width: 52upx;
            }

            &.uni-switch-input-checked,
            &.my-switch-input-checked,
            &.wx-switch-input-checked,
            &.qq-switch-input-checked {
                &::after {
                    transform: translateX(46upx);
                }
            }
        }

        &.square {
            .uni-switch-input,
            .my-switch-input,
            .wx-switch-input,
            .qq-switch-input {
                border-radius: 10upx;
            }
        }
    }

    .p-icon {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }
}
