@mixin nav-black-common($height) {
    height: $height;
    line-height: $height;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
    width: max-content;
    position: absolute;
}
